@charset "UTF-8";
/*

0 - 600px phones

600px - 900px tablet portrait

900px - 1200px  Tablet landscape

1200px - 1800px normal desktop

1800px+ Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desk
-big-desk

1em === 16px

 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666666;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-80%);
  }
  20% {
    opacity: 0.4;
    transform: translateX(-80%) translateY(0);
  }
  40% {
    transform: translateX(-60%) translateY(-60%);
  }
  60% {
    transform: translateX(-40%) translateY(0);
  }
  80% {
    transform: translateX(-20%) translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes showBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(-50%, -50%) translate3d(0, -30px, 0);
  }
  53% {
    transform: translate(-50%, -50%);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(-50%, -50%) translate3d(0, -15px, 0);
  }
  90% {
    transform: translate(-50%, -50%) translate3d(0, -4px, 0);
  }
}
@keyframes ghost {
  0% {
    transform: translate(-50%, -50%);
    left: -10%;
    top: 40%;
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%);
    left: 10%;
    top: 50%;
  }
  20% {
    transform: translate(-50%, -50%);
    left: 20%;
    top: 60%;
  }
  30% {
    transform: translate(-50%, -50%);
    left: 30%;
    top: 50%;
  }
  40% {
    transform: translate(-50%, -50%);
    left: 40%;
    top: 60%;
  }
  50% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 1;
  }
  60% {
    transform: translate(-50%, -50%);
    left: 60%;
    top: 60%;
  }
  70% {
    transform: translate(-50%, -50%);
    left: 70%;
    top: 70%;
  }
  80% {
    transform: translate(-50%, -50%);
    left: 80%;
    top: 60%;
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%);
    left: 70%;
    top: 60%;
  }
  100% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0;
  }
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 80px;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 7px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4fdbff, #286e80);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 2s;
}
.heading-secondary:hover {
  transform: rotateX(300deg);
}

.heading-secondary-tour {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4fdbff, #286e80);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.5px;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-quaternary {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 0.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #666666;
  border: none;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.btn--white::after {
  background-color: #fff;
}
.btn--blue {
  background-color: rgba(79, 219, 255, 0.95);
  color: #fff;
  border: none;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.btn--blue::after {
  background-color: rgba(79, 219, 255, 0.95);
}
.btn--transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
}
.btn--transparent:hover {
  background-color: white;
  color: #666666;
}
.btn--transparent:hover::after {
  background-color: white;
}
.btn--transparent::after {
  background-color: transparent;
}
.btn--header {
  padding: 15px 40px;
  border-radius: 500px 500px 50px 50px;
}
.btn--header::after {
  border-radius: 500px 500px 50px 50px;
}
.btn--card {
  padding: 15px 40px;
  border-radius: 500px;
}
.btn--card::after {
  border-radius: 500px;
}
.btn--nav {
  padding: 7px 40px;
  border-radius: 500px;
}
.btn--nav::after {
  border-radius: 500px;
}
.btn--animate {
  animation: showBtn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #47c5e6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4fdbff;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text--hov {
  background-color: #47c5e6;
  color: white;
  padding: 4px 12px;
  border-radius: 500px 0;
  transform: translateY(-2px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text--hov:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn-text:hover {
  background-color: #47c5e6;
  color: white;
  padding: 4px 12px;
  border-radius: 500px 0;
  transform: translateY(-2px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(59, 164, 191, 0.2), rgba(79, 219, 255, 0.8)), url("../../images/header-background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path: polygon(50% 0, 0 100%, 25% 69%, 50% 15%, 65% 50%, 50% 50%, 18% 71%, 0 100%, 100% 100%, 50% 0); */
  -webkit-clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all 0.3s;
  position: absolute;
}
.composition__photo--p1 {
  left: 10%;
  top: 0;
}
.composition__photo--p2 {
  right: -10%;
  top: 5rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 12rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #4fdbff, #286e80);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-first {
  background-image: linear-gradient(to right bottom, #4fdbff, #3ba4bf);
}
.card__side--back-second {
  background-image: linear-gradient(to right bottom, #4fdbff, #FCF59D);
}
.card__side--back-third {
  background-image: linear-gradient(to right bottom, #4fdbff, #00A76A);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  background-position: top;
  height: 25rem;
  background-blend-mode: soft-light;
  -webkit-clip-path: ellipse(75% 50% at 50% 35%);
  clip-path: ellipse(75% 50% at 50% 35%);
}
.card__picture--first {
  background-image: linear-gradient(to right bottom, #4fdbff, #3ba4bf), url("../../images/header-background.jpg");
}
.card__heading {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 300;
  text-align: right;
  position: absolute;
  top: 13.5rem;
  right: 2.5rem;
  width: 65%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--first {
  background-image: linear-gradient(to right bottom, rgba(79, 219, 255, 0.95), rgba(20, 55, 64, 0.95));
}
.card__details {
  padding: 0 3rem;
  position: relative;
}
.card__details--stars {
  display: inline-block;
  font-size: 3rem;
  font-family: Times, serif;
  line-height: 1;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.card__details--stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, #4fdbff calc(var(--rating) / 5 * 100%), #f5f5f5 calc(var(--rating) / 5 * 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__details--stars p {
  font-size: 1.2rem;
  position: absolute;
  top: 105%;
  right: -5%;
}
.card__details--heading {
  margin-top: 5rem;
  margin-bottom: 0.2rem;
}
.card__details--text {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 1rem;
}
.card__details--features div {
  width: 100%;
  padding-bottom: 0.5rem;
}
.card__details--features div::after {
  content: "";
  display: table;
  clear: both;
}
.card__details--features--icon {
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  padding-right: 0.5rem;
  -webkit-text-stroke: 1px #4fdbff;
}
.card__details--features p {
  font-weight: 300;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.opinion {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
  padding: 6rem 6rem 9rem 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.opinion__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50%);
  shape-outside: circle(50% at 50%);
  -webkit-clip-path: circle(50% at 50%);
  clip-path: circle(50% at 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.opinion__image {
  height: 100%;
  transform: scale(1);
  backface-visibility: hidden;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  transition: all 0.5s;
}
.opinion__text {
  transform: skewX(12deg);
}
.opinion__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #4fdbff;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
  opacity: 0;
}
.opinion:hover .opinion__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.opinion:hover .opinion__image {
  transform: scale(0.6);
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.background-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 10%;
  padding: 0 12rem;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s;
}
.glide__slide:not(.glide__slide--active) {
  transform: translateY(30px);
  opacity: 0.6;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  text-transform: uppercase;
  padding: 12px 18px;
  background-color: rgba(182, 182, 182, 0.75);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 4em;
}
.glide__arrow--right {
  right: 4em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: -2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #4fdbff;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff2800;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__checkbox-group {
  width: 50%;
  display: inline-block;
}
.form__checkbox-input {
  display: none;
}
.form__checkbox-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
}
.form__checkbox-button {
  height: 2rem;
  width: 2rem;
  border: 3px solid #4fdbff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
}
.form__checkbox-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4fdbff;
  opacity: 0;
  transition: opacity 0.3s;
}
.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::after {
  opacity: 1;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s 0.2s;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__left {
  width: 33.33%;
  display: table-cell;
  background-color: transparent;
}
.popup__right {
  width: 66.66%;
  display: table-cell;
  vertical-align: middle;
  padding: 4rem;
  background-color: #fff;
}
.popup__photo {
  display: block;
  width: 100%;
}
.popup__paragraph {
  font-size: 1.4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #999;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #999;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup__close:link, .popup__close:visited {
  color: #666666;
  position: absolute;
  line-height: 1;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.popup__close:hover {
  color: #4fdbff;
}

.tour-header {
  height: 75vh;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
}
.tour-header__img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.tour-header__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4fdbff), to(#143740));
  background-image: linear-gradient(to right bottom, #4fdbff, #143740);
  opacity: 0.25;
}

.tour-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour-heading__group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour-heading__heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 35px;
  padding-bottom: 4rem;
}
.tour-heading__heading-span {
  padding: 3rem 0 3rem 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-align: center;
}
.tour-heading__heading-span--first {
  background-image: linear-gradient(to right bottom, rgba(79, 219, 255, 0.95), rgba(20, 55, 64, 0.95));
}
.tour-heading__detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
.tour-heading__detail svg {
  margin-right: 0.8rem;
}
.tour-heading__detail:not(:last-child) {
  margin-right: 4rem;
}
.tour-heading__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}
.tour-heading__text {
  color: #fff;
}

.tour-main {
  display: flex;
  flex-wrap: nowrap;
}
.tour-main__container {
  padding: 25rem 0 30rem 0;
  margin-top: -20vh;
  width: 100%;
}
.tour-main__container--text {
  width: 50vw;
  padding: 0 13rem;
  hyphens: auto;
}
.tour-main__container--left {
  background-color: #f5f5f5;
}
.tour-main__box {
  display: table;
  margin: 0 auto;
}
.tour-main__box:not(:last-child) {
  margin-bottom: 7rem;
}
.tour-main__detail {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.tour-main__detail svg {
  margin-right: 1.25rem;
}
.tour-main__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.tour-main__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #47c5e6;
}
.tour-main__label {
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  font-weight: 700;
  margin-right: 2rem;
  text-transform: uppercase;
}
.tour-main__text {
  font-weight: 300;
  text-transform: capitalize;
}
.tour-main__img {
  height: 3.5rem;
  margin-right: 1.25rem;
  border-radius: 50%;
}
.tour-main__desc {
  font-size: 1.7rem;
  letter-spacing: 0.4px;
  font-weight: 300;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.tour-main__desc:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tour-pictures {
  display: flex;
  clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  -webkit-clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  position: relative;
  margin-top: -35rem;
  z-index: 1;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

.tour-map {
  position: relative;
  height: 75vh;
  margin-top: calc(0px - 9vw);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../../img/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.tour-opinions {
  margin-top: -25rem;
  position: relative;
  padding: 23rem 0;
}
.tour-opinions__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  -webkit-clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  background-image: linear-gradient(to right bottom, #4fdbff, #3ba4bf);
}

.login-section {
  height: 100vh;
  position: relative;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 340px;
}

.logo-box {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
  position: relative;
}
.logo-box__img {
  width: 100px;
}
.logo-box__text {
  font-size: 1.6rem;
  font-weight: 300;
}

.form-box {
  margin: 0 auto;
  text-align: center;
}
.form-box__group {
  display: block;
}
.form-box__group:not(:last-child) {
  padding-bottom: 1.4rem;
}
.form-box__group--input {
  text-align: left;
  border: none;
  padding: 1rem 4rem 0.8rem 0;
  border-bottom: 1px solid #999;
  outline: none;
}
.form-box__group--button {
  margin-top: 2rem;
  border: none;
  padding: 2rem 3rem;
  text-transform: uppercase;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 3rem 10rem;
  z-index: 999;
}
.nav__logo {
  position: relative;
}
.nav__logo--image {
  height: 85px;
}
.nav__ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__li {
  position: relative;
  list-style: none;
}
.nav__li:not(:last-child) {
  padding-right: 1.5rem;
}
.nav__li--el {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.nav.sticky {
  padding: 0.3rem 8rem;
  background-color: rgba(79, 219, 255, 0.8);
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 400;
  animation-duration: 0.75s;
  animation-name: bounce;
}
.alert--failure {
  color: #ff2800;
}
.alert--success {
  color: green;
}

.error-section {
  height: 100vh;
  background-color: black;
  position: relative;
}
.error-section__img {
  display: block;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: ghost;
  animation-duration: 10s;
  animation-iteration-count: 30000;
}

.error-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.now {
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.section-about {
  background-color: #f5f5f5;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh;
}

.section-feature {
  padding: 20rem 0 30rem 0;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, rgba(59, 164, 191, 0.2), rgba(79, 219, 255, 0.8)), url("../../images/mountain-feature.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  top: -17rem;
  clip-path: polygon(0 20%, 50% 0%, 100% 20%, 100% 0, 100% 100%, 50% 80%, 0 100%);
  backface-visibility: hidden;
}

.section-tours {
  background-color: #f5f5f5;
  padding: 20rem 0 10rem 0;
  margin-top: -40rem;
}

.section-opinion {
  position: relative;
  padding: 10rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(59, 164, 191, 0.2), rgba(79, 219, 255, 0.8));
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../../images/header-background.jpg");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}

/*# sourceMappingURL=style.css.map */
