*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #666;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-80%);
  }
  20% {
    opacity: 0.4;
    transform: translateX(-80%) translateY(0);
  }
  40% {
    transform: translateX(-60%) translateY(-60%);
  }
  60% {
    transform: translateX(-40%) translateY(0);
  }
  80% {
    transform: translateX(-20%) translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes showBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 80px;
}
.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 7px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4fdbff, #286e80);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 2s;
}
.heading-secondary:hover {
  transform: rotateX(300deg);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #666;
}
.btn--white::after {
  background-color: #fff;
}
.btn--blue {
  background-color: rgba(79, 219, 255, 0.95);
  color: #fff;
}
.btn--blue::after {
  background-color: rgba(79, 219, 255, 0.95);
}
.btn--header {
  border-radius: 500px 500px 50px 50px;
}
.btn--header::after {
  border-radius: 500px 500px 50px 50px;
}
.btn--card {
  border-radius: 500px;
}
.btn--card::after {
  border-radius: 500px;
}
.btn--animate {
  animation: showBtn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #47c5e6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4fdbff;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text--hov {
  background-color: #47c5e6;
  color: white;
  padding: 4px 12px;
  border-radius: 500px 0;
  transform: translateY(-2px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text--hov:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn-text:hover {
  background-color: #47c5e6;
  color: white;
  padding: 4px 12px;
  border-radius: 500px 0;
  transform: translateY(-2px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(59, 164, 191, 0.2), rgba(79, 219, 255, 0.8)), url("../../images/header-background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path: polygon(50% 0, 0 100%, 25% 69%, 50% 15%, 65% 50%, 50% 50%, 18% 71%, 0 100%, 100% 100%, 50% 0); */
  -webkit-clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%, 0 0);
}
.header__logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}
.header__logo {
  height: 85px;
  fill: #fff;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all 0.3s;
  position: absolute;
}
.composition__photo--p1 {
  left: 10%;
  top: 0;
}
.composition__photo--p2 {
  right: -10%;
  top: 5rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 12rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #4fdbff, #286e80);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-first {
  background-image: linear-gradient(to right bottom, #4fdbff, #3ba4bf);
}
.card__side--back-second {
  background-image: linear-gradient(to right bottom, #4fdbff, #FCF59D);
}
.card__side--back-third {
  background-image: linear-gradient(to right bottom, #4fdbff, #00A76A);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  background-position: top;
  height: 25rem;
  background-blend-mode: soft-light;
  -webkit-clip-path: ellipse(75% 50% at 50% 35%);
  clip-path: ellipse(75% 50% at 50% 35%);
}
.card__picture--first {
  background-image: linear-gradient(to right bottom, #4fdbff, #3ba4bf), url("../../images/header-background.jpg");
}
.card__heading {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 300;
  text-align: right;
  position: absolute;
  top: 13.5rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--first {
  background-image: linear-gradient(to right bottom, rgba(79, 219, 255, 0.95), rgba(20, 55, 64, 0.95));
}
.card__details {
  padding: 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.opinion {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.opinion__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50%);
  shape-outside: circle(50% at 50%);
  -webkit-clip-path: circle(50% at 50%);
  clip-path: circle(50% at 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.opinion__image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.opinion__text {
  transform: skewX(12deg);
}
.opinion__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
  opacity: 0;
}
.opinion:hover .opinion__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.opinion:hover .opinion__image {
  transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.background-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 50%;
  padding: 0 12rem;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s;
}
.glide__slide:not(.glide__slide--active) {
  transform: translateY(20px);
  opacity: 0.6;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  text-transform: uppercase;
  padding: 12px 18px;
  background-color: rgba(182, 182, 182, 0.75);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 4em;
}
.glide__arrow--right {
  right: 4em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: -2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f5f5f5;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh;
}

.section-feature {
  padding: 20rem 0 30rem 0;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, rgba(59, 164, 191, 0.2), rgba(79, 219, 255, 0.8)), url("../../images/mountain-feature.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  top: -17rem;
  clip-path: polygon(0 20%, 50% 0%, 100% 20%, 100% 0, 100% 100%, 50% 80%, 0 100%);
  backface-visibility: hidden;
}

.section-tours {
  background-color: #f5f5f5;
  padding: 20rem 0 10rem 0;
  margin-top: -40rem;
}

.section-opinion {
  position: relative;
  padding: 10rem 0;
}

/*# sourceMappingURL=style.css.map */
