@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//Media query

/*

0 - 600px phones

600px - 900px tablet portrait

900px - 1200px  Tablet landscape

1200px - 1800px normal desktop

1800px+ Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desk
-big-desk

1em === 16px

 */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content; }  //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content; } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content; } //1200px
  }
  @if $breakpoint == big-desk {
    @media (min-width: 150em) { @content; } //2000px
  }
}