extends base

block content
    section.confirm
        div.confirm__box
            h1.confirm__header.heading-primary--act Now your account is active! Welcome 💜
            h2.heading-primary--act
                | You will be redirected to the main page for
            span.confirm__time
                | X
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="./../js/activation.js")