extends base

block content
    header.header
        div.header__logo-box
            img(src='images/mountains.svg' alt='Traveler logo' class='header__logo')
        div.header__text-box
            h1.heading-primary
                span.heading-primary--main Traveler
                span.heading-primary--sub your adventure just has begun
            a(href='#').btn.btn--white.btn--header.btn--animate Start your adventure!
    main
        section.section-about
            div.u-center-text.u-margin-bottom-big
                h2.heading-secondary Lorem ipsum dolor
            div.row
                div.col-1-of-2
                    h3.heading-tertiary.u-margin-bottom-small Lorem ipsum dolor sit amet.
                    p.paragraph
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                        |Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                    h3.heading-tertiary.u-margin-bottom-small
                        |Lorem ipsum dolor sit amet
                    p.paragraph
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                    a(href='#').btn-text Lorem ipsum
                div.col-1-of-2
                    div.composition
                        img(src='./images/mountain-1.jpg' alt='mountain-1').composition__photo.composition__photo--p1
                        img(src='./images/mountain-2.jpg' alt='mountain-2').composition__photo.composition__photo--p2
                        img(src='./images/mountain-3.jpg' alt='mountain-3').composition__photo.composition__photo--p3
        section.section-feature
            div.row
                div.col-1-of-4
                    div.feature-box
                        i.feature-box__icon.icon-basic-world
                        h3.heading-tertiary.u-margin-bottom-small Explore the world
                        p.feature-box__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                            | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                div.col-1-of-4
                    div.feature-box
                        i.feature-box__icon.icon-basic-compass
                        h3.heading-tertiary.u-margin-bottom-small Explore the world
                        p.feature-box__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                            | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                div.col-1-of-4
                    div.feature-box
                        i.feature-box__icon.icon-basic-map
                        h3.heading-tertiary.u-margin-bottom-small Explore the world
                        p.feature-box__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                            | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                div.col-1-of-4
                    div.feature-box
                        i.feature-box__icon.icon-basic-heart
                        h3.heading-tertiary.u-margin-bottom-small Explore the world
                        p.feature-box__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                            | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam
        section.section-tours
            div.u-center-text.u-margin-bottom-big
                h2.heading-secondary
                    | The best tours!
            div.row
                each tour in tours
                    div.col-1-of-3
                        div.card
                            div.card__side.card__side--front
                                div.card__picture.card__picture--first
                                h4.card__heading
                                    span.card__heading-span.card__heading-span--first=tour.name
                                div.card__details
                                    ul
                                        li
                                            |some text
                                        li
                                            |some text
                                        li
                                            |some text
                                        li
                                            |some text
                            div.card__side.card__side--back.card__side--back-first
                                div.card__cta
                                    div.card__price-box
                                        p.card__price-only
                                            |back
                                        p.card__price-value
                                            |$999.99
                                    a(href='#').btn.btn--white.btn--card
                                        |Book now!
            div.u-center-text.u-margin-top-big
                a(href='/tours').btn.btn--card.btn--blue
                    | Discover all tours
        section.section-opinion
            div.background-video
                video(autoplay muted loop).background-video__content
                    source(src='./videos/background-video.mp4' type='video/mp4')
                    | Your browser is not supported!
            div.u-center-text.u-margin-bottom-big
                h2.heading-secondary Lorem ipsum dolor

            div.glide
                div(data-glide-el="track").glide__track
                    ul.glide__slides
                        li.glide__slide
                            div.opinion
                                figure.opinion__shape
                                    img(src='./images/mountain-1.jpg' alt='Lorem ipsum!').opinion__image
                                    figcaption.opinion__caption
                                        | Name Surname
                                div.opinion__text
                                    h3.heading-tertiary.u-margin-bottom-small
                                        | Lorem ipsum dolor sit amet.
                                    p.opinion-box__text
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                        li.glide__slide
                            div.opinion
                                figure.opinion__shape
                                    img(src='./images/mountain-2.jpg' alt='Lorem ipsum!').opinion__image
                                    figcaption.opinion__caption
                                        | Name Surname
                                div.opinion__text
                                    h3.heading-tertiary.u-margin-bottom-small
                                        | Lorem ipsum dolor sit amet.
                                    p.opinion-box__text
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                        li.glide__slide
                            div.opinion
                                figure.opinion__shape
                                    img(src='./images/mountain-3.jpg' alt='Lorem ipsum!').opinion__image
                                    figcaption.opinion__caption
                                        | Name Surname
                                div.opinion__text
                                    h3.heading-tertiary.u-margin-bottom-small
                                        | Lorem ipsum dolor sit amet.
                                    p.opinion-box__text
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maxime?
                                        | Loremipsum dolor sit amet,consectetur adipisicing elit. Molestias, ullam.
                div(data-glide-el="controls[nav]").glide__bullets.u-margin-top-big
                    button(data-glide-dir="=0").glide__bullet
                    button(data-glide-dir="=1").glide__bullet
                    button(data-glide-dir="=2").glide__bullet
                div(data-glide-el="controls").glide__arrows
                    button(data-glide-dir="<").glide__arrow.glide__arrow--left
                    button(data-glide-dir=">").glide__arrow.glide__arrow--right
            div.u.u-center-text
                a(href='#').btn-text.u-margin-top-big
                    | Lorem ipsum
        section.section-book
            div.row
                div.book
                    div.book__form
                        div.u-center-text.u-margin-bottom-medium
                            h2.heading-secondary Lorem ipsum dolor
                        form(action='#').form
                            div.form__group
                                input(type='text' placeholder='Name' required autocomplete='off').form__input#name
                                label(for='name').form__label
                                    |Name
                            div.form__group
                                input(type='email' placeholder='Email' required autocomplete='off').form__input#email
                                label(for='email').form__label
                                    | Name
                            div.form__group
                                div.form__checkbox-group.u-margin-bottom-small
                                    input(type='checkbox').form__checkbox-input#small
                                    label(for='small').form__checkbox-label
                                        span.form__checkbox-button
                                        | Lorem ipsum.
                            div.form__group
                                button.btn.btn--card.btn--blue
                                    | Lorem ipsum
    script(src="./js/script.js")