extends base

block content
    each tour, index in tours
        if index % 3 === 0
            | <div class='row'>
        div.col-1-of-3
            -let date = tour.startDates[0].toString().split(' ');
            -date = `${date[1]} ${date[3]}`;
            include components/_card
            +card(tour.name,tour.ratingsAverage,tour.ratingsQuantity,tour.difficulty,tour.duration, tour.summary,tour
              .startLocation.description, tour.description,date, tour.locations.length, tour.maxGroupSize, tour.price,tour
              .slug)
        if (index % 3 === 2 || index === tours.length - 1)
            | </div>