@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-80%);
  }

  20% {
    opacity: 0.4;
    transform: translateX(-80%) translateY(0);
  }

  40% {
    transform: translateX(-60%) translateY(-60%);
  }
  60% {
    transform: translateX(-40%) translateY(0);
  }
  80% {
    transform: translateX(-20%) translateY(-40%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes showBtn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(-50%, -50%) translate3d(0, -3rem, 0);
  }

  53% {
    transform: translate(-50%, -50%);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(-50%, -50%) translate3d(0, -1.5rem, 0);
  }

  90% {
    transform: translate(-50%, -50%) translate3d(0, -.5rem, 0);
  }
}

@keyframes ghost {
  0% {
    transform: translate(-50%, -50%);
    left: -10%;
    top: 40%;
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%);
    left: 10%;
    top: 50%;
  }
  20% {
    transform: translate(-50%, -50%);
    left: 20%;
    top: 60%;
  }
  30% {
    transform: translate(-50%, -50%);
    left: 30%;
    top: 50%;
  }
  40% {
    transform: translate(-50%, -50%);
    left: 40%;
    top: 60%;
  }

  50% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 1;
  }
  60% {
    transform: translate(-50%, -50%);
    left: 60%;
    top: 60%;
  }
  70% {
    transform: translate(-50%, -50%);
    left: 70%;
    top: 70%;
  }
  80% {
    transform: translate(-50%, -50%) ;
    left: 80%;
    top: 60%;
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%);
    left: 70%;
    top: 60%;
  }
  100% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0;
  }
}
