.section-about {
  background-color: $page-background;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom, rgba($medium_primary, 0.2), rgba($lightness_primary, 0.8)),
  url('../images/header-background.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  top: -15rem;

  clip-path: polygon(0 18%, 16% 9%, 37% 13%, 56% 6%, 81% 11%, 100% 0, 100% 79%, 84% 87%, 62% 84%, 43% 91%, 19% 92%, 0 100%);}