.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($shadow, 0.4);
    border-radius: .2rem;
    transition: all .3s;
    position: absolute;

    &--p1 {
      left: 10%;
      top: 0;
    }

    &--p2 {
      right: 0;
      top: 5rem;
    }

    &--p3 {
      left: 20%;
      top: 12rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($shadow, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover){
    transform: scale(.95);
  }
}
