.form {

  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($shadow, .1);
      border-bottom: 3px solid $lightness_primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $error;
    }

    &::-webkit-input-placeholder {
      color: $text-light;
    }
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__checkbox-group {
    width: 50%;
    display: inline-block;
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 2.5rem;
  }

  &__checkbox-button {
    height: 2rem;
    width: 2rem;
    border: 3px solid $lightness_primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1px;

    &::after {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $lightness_primary;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }
}