.login-section {
  height: 100vh;
  position: relative;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 3.4rem;
}

.logo-box {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
  position: relative;
  &__img {
    width: 10rem;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.form-box {
  margin: 0 auto;
  text-align: center;


  &__group {
    display: block;


    &:not(:last-child) {
      padding-bottom: 1.4rem;
    }

    &--input {
      text-align: left;
      border: none;
      padding: 1rem 4rem .8rem 0;
      border-bottom: 1px solid $text-light;
      outline: none;
    }

    &--button {
      margin-top: 2rem;
      border: none;
      padding: 2rem 3rem;
      text-transform: uppercase;
      box-shadow: 5px 5px 15px rgba($shadow, 0.4);
    }
  }
}