.opinion {
  box-shadow: 0 3rem 6rem rgba($shadow, .1);
  background-color: $white;
  border-radius: .2rem;
  padding: 6rem 6rem 9rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);


  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50%);
    shape-outside: circle(50% at 50%);
    -webkit-clip-path: circle(50% at 50%);
    clip-path: circle(50% at 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__image {
    height: 100%;
    transform: scale(1);
    backface-visibility: hidden;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: $lightness_primary;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden;
    opacity: 0;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image {
    transform: scale(0.6);
    -webkit-filter: blur(.4rem);
    filter: blur(.4rem);
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
}