.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0, .8);
  top: 0;
  right: 0;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    box-shadow: 0 4rem 6rem rgba($shadow, .4);
    border-radius: .3rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .4s .2s;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }


  &__left {
    width: 33.33%;
    display: table-cell;
    background-color: transparent;
  }

  &__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 4rem;
    background-color: $white;
  }

  &__photo {
    display: block;
    width: 100%;
  }

  &__paragraph {
    font-size: 1.4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $text-light;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $text-light;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      color: $text-dark;
      position: absolute;
      line-height: 1;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
    }

    &:hover {
      color: $lightness_primary;
    }
  }
}
