.tour-map {
  position: relative;
  height: 75vh;
  margin-top: calc(0px - 9vw);

}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../../img/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}