mixin navbar()
    nav.nav
        div.nav__logo
            a(href='/').nav__logo--href
                img(src='/images/mountains.svg').nav__logo--image
        ul.nav__ul
            if user
                li.nav__li
                    a(href='#')#logout.nav__li--btn.btn.btn--transparent.btn--nav Log out
                li.nav__li
                    a(href='/me').nav__li--btn.btn.btn--white.btn--nav=user.name.split(' ')[0]
            else
                li.nav__li
                    a(href='/login').nav__li--btn.btn.btn--transparent.btn--nav Sign in
                li.nav__li
                    a(href='#').nav__li--btn.btn.btn--white.btn--nav Sign up