mixin tour-pictures()
    section.tour-pictures
        div.picture-box
            img.picture-box__img.picture-box__img--1(src='/images/header-background.jpg', alt='The Park Camper Tour 1')
        div.picture-box
            img.picture-box__img.picture-box__img--2(src='/images/header-background.jpg', alt='The Park Camper Tour 1')
        div.picture-box
            img.picture-box__img.picture-box__img--3(src='/images/header-background.jpg', alt='The Park Camper Tour 1')

